 .ais-ClearRefinements {
  margin: 1em 0;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em;
}

.left-panel {
  float: left;
  width: 200px;
  padding-top: 20px;
}

.right-panel {
  /* margin-left: 210px; */
}

.ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
  color: white;
}

.ais-Hits-item {
  margin-bottom: 1em;
  color : white;
  /* border: 1px solid lightgray; */
 }

.ais-Hits-item img {
  margin-right: 1em;
  width: 100%;
  height: 100%;
  margin-bottom: 0.5em;
}

.hit-name {
  margin-bottom: 0.5em;
}

.hit-description {
  color: lightgray;
  margin-bottom: 0.5em;
}

.hit-info {
  font-size: 90%;
  color: lightgrey;
} 